*.jl.*.cov
*.jl.cov
*.jl.mem
/docs/build/
/sandbox/**
!/sandbox/jupyterlab_fss_elements.pdf
!/sandbox/PlottingRWGSheets.ipynb
/docs/TheoryDocs/*.aux
/docs/TheoryDocs/*.log
/docs/TheoryDocs/*.bbl
/docs/TheoryDocs/*.blg
/docs/TheoryDocs/*.toc
/docs/TheoryDocs/*.out
src/junk.jl

